# Basic Python

## Print Statements and Comment

In [1]:
print("Hello World! atau Haloo Dunia")

# this is a comment line
# anything starts with # will be ignored

Hello World! atau Haloo Dunia

## Variable Memory

### Ada 3 Jenis variabel dasar : Integer, Float, and String

In [2]:
people = 100  # integer
temperature = 36.0  # float
room_name = "Room 1"  # string

print(people)
print(temperature)
print(room_name)

100
36.0
Room 1

### List (atau disebut juga : Array. Variable berindex)

In [3]:
fruits = []  # empty list
fruits = ["apple", "banana"]  # list with 2 elements
another_list = ["this is string", 10]  # list with different types of elements

print fruits
print another_list

['apple', 'banana']
['this is string', 10]

In [4]:
# add element to a list
fruits = ["apple", "banana"]
fruits.append("orange")
print fruits

['apple', 'banana', 'orange']

In [5]:
# accessing list elements
print fruits[0]
print fruits[1]
print fruits[-1]

apple
banana
orange

### Variabel jenis Dictionary

In [6]:
customer = {}  # empty dictionary
customer = {"name": "John", "age": 30}  # dictionary with key -> value pair
print customer

{'age': 30, 'name': 'John'}

In [7]:
# add new key,value to dictionary
customer = {"name": "John", "age": 30}
customer["email"] = "john@example.com"
print customer

{'age': 30, 'name': 'John', 'email': 'john@example.com'}

In [8]:
# accessing individual value using key
print customer["name"]
print customer["email"]

John
john@example.com

In [9]:
# accessing dictionary keys and values
print customer.keys()
print customer.values()
print customer.items()

['age', 'name', 'email']
[30, 'John', 'john@example.com']
[('age', 30), ('name', 'John'), ('email', 'john@example.com')]

### Variabel Jenis Tuple

In [10]:
# tuple is similar to list but immutable once created
coordinate = (0, 5)
colors = ("red", "green", "blue")
print coordinate
print colors

(0, 5)
('red', 'green', 'blue')

In [11]:
# accessing elements
print coordinate[0], coordinate[1]

0 5

### Variabel jenis Himpunan (Set)

In [12]:
unique_numbers = {1, 2, 3, 3}
print unique_numbers

set([1, 2, 3])

In [13]:
# add element to a set
unique_numbers.add(2)
unique_numbers.add(4)
unique_numbers.update([1, 5])
print unique_numbers

set([1, 2, 3, 4, 5])

### Concat String with Number

In [14]:
text = str(people) + " people"
print text
print "There are %i people" % people
print "There are " + str(people) + " people"
print "The temperature is %f" % temperature

100 people
There are 100 people
There are 100 people
The temperature is 36.000000

### Concat String

In [15]:
text = "Room: " + room_name
print text
print "There are", people, "people in", room_name
print " ".join(["There are", str(people), "people in", room_name])

Room: Room 1
There are 100 people in Room 1
There are 100 people in Room 1

## Basic Mathematical Operations

In [16]:
print 20 + 2
print 75 * 4
print 25 + 30 / 6
print 100 - 25 * 3 % 4
print 3 + 2 + 1 - 5 + 4 % 2 - 1 / 4 + 6

22
300
30
97
7

In [17]:
print 10 / 3  # div
print 10.0 / 3  # floating point division
print 10 % 3  # mod

3
3.33333333333
1

### Comparison

In [18]:
print 5 > 2
print 10 <= 100
print 5 - 95 > 0
print 7 == 7.0

True
True
False
True

## Function

In [19]:
# function with no return statement
def print_hello_world():
    print "Hello World!"
    
print_hello_world()

Hello World!

In [20]:
# function with return statement
def is_even(number):
    return number % 2 == 0

print is_even(3)
print is_even(4)

False
True

## IF Statement

In [21]:
def print_is_even_number(number):
    if is_even(number):
        print "%i is even" % number
    else:
        print "%i is odd" % number
        

print_is_even_number(10)
print_is_even_number(17)

10 is even
17 is odd

In [22]:
number = 99
def guess_number(guess):
    if guess < number:
        print "Wrong guess! try with larger number"
    elif guess > number:
        print "Wrong guess! try with smaller number"
    else:
        print "Correct! Congratulations!"
        

guess_number(5)
guess_number(100)
guess_number(99)

Wrong guess! try with larger number
Wrong guess! try with smaller number
Correct! Congratulations!

## Looping

In [23]:
# looping in range [0, n), n is excluded
for i in range(10):
    print i

0
1
2
3
4
5
6
7
8
9

In [24]:
# looping in range [a, b), b is excluded
for i in range(-5, 4):
    print i

-5
-4
-3
-2
-1
0
1
2
3

In [25]:
# looping over list
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
    print fruit

apple
banana
orange

In [26]:
# print all elements in a list
# with function enumerate to get the index of each element
print "The fruits are:"
for i, fruit in enumerate(fruits):
    print "%i. %s" % (i, fruit)

The fruits are:
0. apple
1. banana
2. orange

In [27]:
numbers = []  # create empty list

# loop from 0 to 9
# add number to the list if the number is even
for i in range(10):
    if is_even(i):
        numbers.append(i)
    
print numbers

[0, 2, 4, 6, 8]

In [28]:
# while loop

i = 2
numbers = []

while i < 10:
    print i
    numbers.append(i)
    i += 1

2
3
4
5
6
7
8
9

## Class and Object

In [29]:
# declaring class
class Person:
    
    # __init__ is default initialization method for class
    # this is usually used to initialize attributes
    def __init__(self):
        self.name = "John"
        self.age = 30


person = Person()
print "Person name: %s" % person.name
print "Person age: %i" % person.age

Person name: John
Person age: 30

In [30]:
class Person:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def print_name(self):
        print self.name
        
    def edit_age(self, new_age):
        self.age = new_age
        
    def __str__(self):
        return "Person name: %s with age: %d" % (self.name, self.age)
    
    
person = Person("John", "30")
print person.name
print person.age
person.print_name()

John
30
John

In [31]:
print person.edit_age(35)
print person.age
print person

None
35
Person name: John with age: 35

## External Resources
1. [Learn Python the Hard Way](https://learnpythonthehardway.org/book/)